# Created by venv; see https://docs.python.org/3/library/venv.html
ENV
db.sqlite3
__pycache__
aaaaaa.html
bbb.html
criticsblog/media/ticket_images/Nap-a-Roo.jpg
criticsblog/media/ticket_images/WhenWeCollided.jpg
ccc.html
TheGrandDesign.jpg
.vscode/



