{% extends 'base.html' %}

{% block content %}
<div class="ticket-container">
<h1>Liste des critiques</h1>

{% if tickets %}
    {% for ticket in tickets %}
        <div class="ticket-card">
            <div class="ticket-header">
                {% if ticket.image %}
                    <div class="ticket-image">
                        <img src="{{ ticket.image.url }}" alt="Image du ticket">
                    </div>
                {% endif %}    

                <div class="ticket-info">
                    <h2>Titre: {{ ticket.title }}</h2>
                    <p><strong>Ticket Créé par :</strong> {{ ticket.user.username }}</p>
                    <p class="ticket-description"><strong>Description :</strong> {{ ticket.description }}</p>
                    <p><strong>Date :</strong> {{ ticket.time_created|date:"d/m/Y H:i" }}</p>
                </div>
            </div>
        </div>       
        <!-- fin ticket-header -->

        <!-- Reviews -->
        <h3>Critiques :</h3>
        {% if ticket.review_set.all %} 
        <!--utilisé dans Django templates pour vérifier si un ticket a des reviews associées-->
            {% for review in ticket.review_set.all %}
                <div class="review-card">
                    <strong>Titre: {{ review.headline }}</strong> 
                    - Note : {{ review.rating }}/5<br>
                    <p>Commentaire: {{ review.body }}</p>
                    <em>
                    Review Par {{ review.user.username }} 
                    le {{ review.time_created|date:"d/m/Y H:i" }}
                        </em>
                </div>            
            {% endfor %}
            {% else %}
                <p class="no-review">Aucune critique pour ce ticket.</p>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p>Aucun ticket disponible.</p>
{% endif %}
</div>
{% endblock %}

