{% extends 'base.html' %}

{% block content %}
<h1>Liste des tickets</h1>

{% if tickets %}
    {% for ticket in tickets %}
        <div class="ticket-item">
            <!-- Couverture en haut -->
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" 
                alt="Couverture de {{ ticket.title }}" 
                style="width:200px; height:auto;">
            <!-- alt sert à l'accessibilité il va lire le titre du ticket" pour un(e) malvoyant-->
                {% else %}
                <p><em>Aucune couverture disponible.</em></p>
            {% endif %}

            <!-- Champs du ticket -->
            <p><strong>Titre :</strong> {{ ticket.title}}</p>
            <p><strong>Description :</strong> 
                {{ ticket.description}}</p>
            <p><strong>Abonné :</strong> {{ ticket.user}}</p> 
            <!-- Bouton Ajouter une review -->
            <p>
                <!--<a href="{% url 'newreview' ticket.id %}" class="btn">Ajouter une review</a> -->
                <a href="{% url 'newreview' ticket.id %}" class="btn" style="border:1px solid red;">Ajouter une review</a>
            </p>
            <hr> <!--Trace une ligne horizontale entre chaque ticket de la liste-->
        </div>
    {% endfor %}
{% else %}
    <p>Aucun ticket disponible.</p>
{% endif %}
{% endblock %}

