{% extends 'base.html' %}

{% block content %}
<h1>Liste des tickets</h1>

{% if tickets %}
    {% for ticket in tickets %}
        <div class="ticket-item">
            <!-- Couverture en haut -->
            {% if ticket.image %}
                <img src="{{ ticket.image.url }}" alt="Couverture de {{ ticket.title }}" style="width:200px; height:auto;">
            {% else %}
                <p><em>Aucune couverture disponible.</em></p>
            {% endif %}

            <!-- Champs du ticket -->
            <p><strong>Titre :</strong> {{ ticket.title|default:"Non renseigné" }}</p>
            <p><strong>Description :</strong> {{ ticket.description|default:"Non renseigné" }}</p>
            <p><strong>Abonné :</strong> {{ ticket.user}}</p> 

            
            <hr>
        </div>
    {% endfor %}
{% else %}
    <p>Aucun ticket disponible.</p>
{% endif %}

{% endblock %}