<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>{% block title %} LITReview  {% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/mixt.css' %}">
</head>

<body>    
    <!-- Header -->
    <header class="header">
        LITReview
        <div class="action-main-buttons">
            <a href="{% url 'logout' %}" class="header-btn">Se déconnecter</a>
            <a href="{% url 'newticket' %}" class="header-btn">Créer un ticket</a>
            <a href="{% url 'newreview' %}" class="header-btn">Créer une review</a>
            <a href="{% url 'ticketlist' %}" class="header-btn"> Liste des tickets</a>
            <a href="{% url 'reviewlist' %}" class="header-btn">Liste des reviews</a>
        </div>
    </header>
        
    </header>
    {% block content %}{% endblock %}
</body>
</html>

