<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>{% block title %} LITReview  {% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/mixt.css' %}">
</head>

<body>    
    <!-- Header -->
    <header class="header">
        <div class="header-left">
        {% if user.is_authenticated %}
            <span class="username">Connection: {{ user.username }}</span>
        {% endif %}
        </div>
        <div class="header-title">
        LITReview
        </div>

        <div class="action-main-buttons">
            <!-- Formulaire POST pour logout -->
            <form method="post" action="{% url 'logout' %}" style="display:inline;">
            {% csrf_token %}
            <!--<button type="submit" classs="header-btn">Se déconnecter</button>-->
                {% csrf_token %}
            </form>
            <a href="{% url 'ticketreview' %}" class="header-btn">Afficher une review</a>
            <a href="{% url 'newticket' %}" class="header-btn">Créer un ticket</a>
            <a href="{% url 'ticketlist' %}" class="header-btn"> Liste des tickets</a>
            <a href="{% url 'reviewlist' %}" class="header-btn">Liste des reviews</a>
            <a href="{% url 'suscribe' %}" class="header-btn">Souscription</a>
            <a href="{% url 'login' %}" class="header-btn">Se deconnecter</a>
            <a href="{% url 'feed' %}" class="header-btn">flux</a>
        </div>
    </header>
        
    </header>
    {% block content %}{% endblock %}
</body>
</html>

