<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>{% block title %} LITReview  {% endblock %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/mixt.css' %}">
</head>

<body>    
    <!-- Header -->
    <header class="header">
        LITReview
        <div class="action-buttons-signup">
            <a href="{% url 'logout' %}">Se déconnecter</a>
            <a href="{% url 'newticket' %}">Créer un ticket</a>
            <a href="{% url 'newreview' %}">Créer une review</a>
        </div>
    </header>
        
    </header>
    {% block content %}{% endblock %}
</body>
</html>

