<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>LITReview </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'authentication/style.css' %}">
</head>

<body>
    <div class="container">
        <h1>LITReview</h1>
        <p class="subtitle">Inscrivez-vous maintenant</p>

        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
                {% if form.username.errors %}
                    <div class="error">{{ form.username.errors }}</div>
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {% if form.password1.errors %}
                    <div class="error">{{ form.password1.errors }}</div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% if form.password2.errors %}
                    <div class="error">{{ form.password2.errors }}</div>
                {% endif %}
            </div>

            <div class="action-buttons">
                    <a href="{% url 'login' %}" class="btn-back">Retourner</a>
                    <button type="submit" class="btn-login">S'inscrire</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
