{% extends "base.html" %}

{% block content %}
<div class="container subscriptions">
    <h1>Souscription</h1>
    <hr>

    <!-- Recherche abonné -->
    <h2>Recherche d'un abonné</h2>
    <form method="get" class="search-form">

    <input type="text"  name="q"  placeholder="Nom exact de l'utilisateur"
    value="{{ request.GET.q }}">

    <button type="submit">Rechercher</button>
    </form>
    <div class="user-list">
        {% if search_user %}
            <div class="user-item">
            <span class="username">{{ search_user.username }}</span>

            {% if search_user in following %}
                <a href="{% url 'unfollowuser' search_user.id %}" class="btn-following">Se désabonner</a>
            {% else %}
                <a href="{% url 'followuser' search_user.id %}" class="btn-following">S'abonner</a>
            {% endif %}
        </div>
        {% elif request.GET.q %}
            <p>Aucun utilisateur trouvé.</p>
        {% endif %}
    </div>
    <hr>

    <!-- Les utilisateurs que je suis -->
    <h2>Les utilisateurs que je suis</h2>
    <div class="user-list">
        {% for user in following %}
        <div class="user-item">
            <span class="username">{{ user.username }}</span>
            <a href="{% url 'unfollowuser' user.id %}" class="btn-following">
                Se désabonner
            </a>
        </div>
        {% empty %}
        <p>Vous ne suivez encore personne.</p>
        {% endfor %}
    </div>
    <hr>
    <!-- Mes abonnés -->
    <h2>Mes abonnés</h2>
    <div class="user-list">
        {% for user in followers %}
        <div class="user-item">
            <span class="username">{{ user.username }}</span>
        </div>
        {% empty %}
        <p>Vous n'avez pas encore d'abonnés.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
