{% extends "base.html" %}

{% block content %}

<h1>Souscription</h1>
<h2>Tous mes utilisateurs</h2>
{% for user in users %}
    <p>
        {{ user.username }}
        {% if user in following %}
            <a href="{% url 'unfollowuser' user.id %}" class="btn">Se désabonner</a>
        {% else %}
            <a href="{% url 'followuser' user.id %}" class="btn">S'abonner</a>
        {% endif %}
    </p>
{% endfor %}

<hr>

<h2>Mes abonnements</h2>
{% for user in following %}
    <p>{{ user.username }}</p>
{% empty %}
    <p>Vous ne suivez encore personne.</p>
{% endfor %}

<h2>Mes abonnés</h2>
{% for user in followers %}
    <p>{{ user.username }}</p>
{% empty %}
    <p>Vous n'avez pas encore d'abonnés.</p>
{% endfor %}
{% endblock %}
